<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Habit RPG{% endblock %}</title>

    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body class="flex h-screen flex-col overflow-hidden">
    {% if user.is_authenticated %}
    <nav
      class="top-0 right-0 left-0 flex h-[8.3dvh] items-center justify-between gap-4 border-b border-blue-300 bg-gradient-to-r from-blue-300 to-cyan-50 px-4 shadow-sm"
    >
      <div class="flex gap-4">
        <a
          href="{% url 'index' %}"
          class="{% if request.resolver_match.url_name == 'index' %}font-bold text-black{% else %}text-gray-700 hover:text-black{% endif %} text-lg"
          >Dashboard</a
        >
        <a
          href="{% url 'stats' %}"
          id="studyStatsLink"
          onclick="return handleStatsLinkClick(event);"
          class="{% if request.resolver_match.url_name == 'stats' %}font-bold text-black{% else %}text-gray-700 hover:text-black{% endif %} text-lg"
          >Study Stats</a
        >
        <a
          href="{% url 'shop' %}"
          id="shopLink"
          onclick="return handleShopLinkClick(event);"
          class="{% if request.resolver_match.url_name == 'shop' %}font-bold text-black{% else %}text-gray-700 hover:text-black{% endif %} text-lg"
          >Shop</a
        >
      </div>
      <div class="flex items-center gap-10">
        <span class="text-md text-black">Hello, {{ user.username }}</span>
        <a
          href="{% url 'logout' %}"
          class="text-sm text-gray-700 hover:text-black"
          >Logout</a
        >
      </div>
    </nav>
    {% endif %} {% block content %}{% endblock %}
  </body>
</html>
