<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="dashboard">
  <div class="section s1">Section 1</div>

<div class="section section-main-wrapper">
  <div class="section s2">
    <div class="s2a">Section 2a</div>
    <div class="s2b">Section 2b</div>
    <div class="s2c">Section 2c</div>
    <div class="s2d">
      <div class="s2d1">Section 2d1</div>
      <div class="s2d2">Section 2d2</div>
    </div>
  </div>

  <div class="section s3">
    <div class="s3a">Section 3a</div>
    <div class="s3b">Section 3b</div>
    <div class="s3c">
      <div class="s3c1">Section 3c1</div>
      <div class="s3c2">Section 3c2</div>
    </div>
  </div>
</div>
</div>
{% endblock %}