<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="dashboard">
  <div class="section section-1">Section 1</div>

  <div class="section section-2">
    <div class="section-2a">Section 2a</div>
    <div class="section-2b">Section 2b</div>
    <div class="section-2c">Section 2c</div>
    <div class="section-2d-wrapper">
      <div class="section-2d1">Section 2d1</div>
      <div class="section-2d2">Section 2d2</div>
    </div>
  </div>

  <div class="section section-3">
    <div class="section-3a">Section 3a</div>
    <div class="section-3b">Section 3b</div>
    <div class="section-3c-wrapper">
      <div class="section-3c1">Section 3c1</div>
      <div class="section-3c2">Section 3c2</div>
    </div>
  </div>
</div>
{% endblock %}